# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Virtual environments
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
*.py[cod]
*.so

# Media and static files
media/
staticfiles/
static/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db
